a {
  color: #527382;
}
.mainContents {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  max-width: 500px;
  margin: 50px auto;
  text-align: center;
}
.mainContents .border {
  border-radius: 5px;
}
.cityName {
  color: #080c0e;
  font-size: 52px;
  font-weight: 200;
  text-align: left;
  text-shadow: #527382, 0 1px 3px;
}
.dayDescription li {
  text-align: left;
  list-style-type: none;
  line-height: 23px;
}
.firstList {
  color: #5e5d5d;
  padding-left: 1px;
}
.temperatureAndEmoji {
  margin-left: 3px;
  text-align: left;
  padding: 0;
  vertical-align: top;
}
.weatherEmoji {
  font-size: 25px;
}
.weatherDescription {
  color: #707070;
  list-style-type: none;
  line-height: 23px;
  text-align: left;
}
.bigTemperature {
  color: #507a8e;
  text-shadow: #527382, 0 1px 3px;
}
.temperatureConverter {
  font-size: x-small;
  vertical-align: top;
}
.inputBar {
  padding-bottom: 8px;
}
