a {
  color: #527382;
}
h1 {
  margin-bottom: 0%;
}

.temperatureAndEmoji .active {
  color: #507a8e;
  cursor: default;
  text-decoration: none;
}

.temperatureAndEmoji .active:hover {
  text-decoration: none;
}
.mainContents {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 24;
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
}
.mainContents .border {
  border-radius: 5px;
}
.cityName {
  color: #080c0e;
  font-size: 52px;
  font-weight: 200;
  text-align: left;
  text-shadow: #527382, 0 1px 3px;
}
.dayDescription li {
  text-align: left;
  list-style-type: none;
  line-height: 23px;
  margin: 0%;
  padding: 0%;
}
.description:first-letter {
  text-transform: capitalize;
}
.firstList {
  color: #5e5d5d;
  height: 18px;
  padding-left: 1px;
}
.overview {
  margin: 0 auto 10px auto;
  padding: 0;
}
.temperatureAndEmoji {
  margin: 0 auto 10px auto;
  text-align: left;
  text-decoration: none;
  padding: 0;
  line-height: 1;
}
.weatherEmoji {
  font-size: 50px;
  height: 50px;
  margin: 0 auto 10px auto;
  vertical-align: top;
  width: 60px;
}
.weatherDescription {
  color: #707070;
  list-style-type: none;
  line-height: 23px;
  text-align: left;
}
.bigTemperature {
  color: #507a8e;
  display: inline;
  font-size: 50px;
  font-weight: 400;
  line-height: 1;
  margin: 0 auto 10px auto;
  text-align: left;
  text-shadow: #527382, 0 1px 3px;
  vertical-align: top;
  width: 50px;
}
.temperatureConverter {
  font-size: x-small;
  line-height: 1;
  vertical-align: top;
}
.inputBar {
  padding-bottom: 8px;
}
